.vpms-mvvm-container {
	padding: 0 20px 0 20px;
	position:relative;
}
.vpms-block-ui {
	background-image: url(images/loading.gif);
	background-repeat: no-repeat;
	background-position:center center;
	height:300px;
	width:100%;
	font-size: 1.1rem;
	font-weight: bold;
	text-align: center;
	z-index:1001;
}
.vpms-mvvm-container .vpms-block-ui {
	position: absolute;
	top:0;
	left:0;
}
.vpms-mvvm-container .vpms-block-ui-overlay{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:1000;
	background-color: rgb(0, 0, 0); 
	opacity: 0.07; 
	filter: Alpha(Opacity=7);
	cursor: wait;
}
.vpms-tooltip-text,.vpms-tooltip-error-text,.vpms-datepicker,.vpms-mvvm-container{
	font-size:11px;			
}
.vpms-tooltip-error-text {
	font-weight: bold;
	text-align: left;
}
.vpms-product-widget {
	width:100%;
	margin: 0 auto;
	text-align:left;
	clear:both;
}

.vpms-product-widget-header{
	font-size: 1.5em;
	padding:0.5em;
	margin:0px;
	margin-bottom:0.3em;	
}

.vpms-selectQuote-widget ul {
	list-style-type: none;	
	list-style-image: none;
	padding:0.3em;
}

.vpms-selectQuote-widget a:link,.vpms-selectQuote-widget a:active,.vpms-selectQuote-widget a:visited,.vpms-selectQuote-widget a:hover {
	text-decoration: none;
	color:#00E;
}

.vpms-pages-widget, .vpms-accordion-widget, .vpms-border-widget, .vpms-superWidget-widget, .vpms-treeview-section, .vpms-border-widget-fieldset{
	overflow:hidden!important;
}

.vpms-border-widget-caption  {
	padding: 0 0.5em;
	font-weight:bold;
	height:1.3em;
}
.vpms-element, .vpms-container{
	overflow:auto; /*hidden;*/
}
.vpms-label-widget,
.vpms-edit-widget,
.vpms-combobox-widget,
.vpms-autocomplete-widget,
.vpms-checkbox-widget, 
.vpms-checkboxAfterLabel-widget, 
.vpms-radiogroup-widget,
.vpms-elementgroup-widget, 
.vpms-text-widget, 
.vpms-value-widget,
.vpms-memo-widget,
.vpms-file-widget{
	width: 50%;
	float: left;
	overflow:hidden;		
	/*IE7 50% rounding bug*/	
	*width: 49.9%;	
}
.ui-widget{
	margin-bottom: 0.5em;	
}
.vpms-mvvm-container-mobile .vpms-tooltip-error {
	margin-bottom:0;
}
.vpms-nopadding, .vpms-elementgroup-widget, .vpms-superWidget-widget{
	padding: 0!important;
	margin:0!important;
}
.vpms-single-column .vpms-label-widget,
.vpms-single-column .vpms-edit-widget,
.vpms-single-column .vpms-combobox-widget,
.vpms-single-column .vpms-autocomplete-widget,
.vpms-single-column .vpms-checkbox-widget, 
.vpms-single-column .vpms-checkboxAfterLabel-widget,
.vpms-single-column .vpms-radiogroup-widget, 
.vpms-single-column .vpms-elementgroup-widget,
.vpms-single-column .vpms-text-widget, 
.vpms-single-column .vpms-value-widget,
.vpms-single-column .vpms-memo-widget,
.vpms-single-column .vpms-file-widget{
	width: auto!important;
	float: none;	
	clear:both;
}
.vpms-checkbox-widget input,
.vmps-radiogroup-items,
.vpms-radiogroup-item-widget input, 
.vpms-edit-widget input, 
.vpms-file-widget input,
.vpms-combobox-widget select,
.vpms-autocomplete-widget input{
	float: left;	
}
.vpms-widget-required-icon{
	float: left;
	border:0px!important;
	background: none!important;
}
.vpms-label-widget .vpms-label-widget-label{
	display:block;
	text-align: left;	
}
.vpms-label-widget .vpms-widget-required-icon{
	float: right;
	padding-top:0.3em;
}
.vpms-single-column .vpms-label-widget .vpms-widget-required-icon{
	float:left;
}
.vpms-widget_with_error_container .ui-state-error, 
.vpms-accordion-element-header .ui-state-error, 
.vpms-tab-link .vpms-tab-icon,
.vpms-border-widget-caption .ui-state-error{
	float:left;
	border:0px;
	background:none;
}
.vpms-widget_with_error_container .ui-state-error{
	padding-top: 0.3em;	
}
/*overwrite jquery ui accordion styles - error and required icon should not hide triangle icon*/
.vpms-accordion-element-header .ui-state-error .ui-icon, .vpms-accordion-element-header .vpms-widget-required-icon .ui-icon{
	position:static!important;
	left:0!important;
	top:0!important;
	margin:0!important;
}
.vpms-mvvm-container-mobile .vpms-widget_with_error_container .ui-state-error{	
	padding-top: 0;	
}
.vpms-element {
	width: 50%;
	float: left;		
	/*IE7 50% rounding bug*/	
	*width: 49.9%;
}

/*IE7 does not allow to overwrite min-width and min-height with "inherit"*/	
.vpms-no-col>div>.vpms-element,.vpms-no-col>.vpms-element{
	min-width: 200px;
	max-width: 450px;		
}
.vpms-container {
	clear:both;	
	width:auto;
	float:none;
}
.vpms-radiogroup-item-widget{
	clear:both;
}
.vpms-radiogroup-widget .vpms-0-col .vpms-radiogroup-item-widget,
.vpms-radiogroup-widget .vpms-1-col .vpms-radiogroup-item-widget,
.vpms-radiogroup-widget .vpms-2-col .vpms-radiogroup-item-widget,
.vpms-radiogroup-widget .vpms-3-col .vpms-radiogroup-item-widget,
.vpms-radiogroup-widget .vpms-4-col .vpms-radiogroup-item-widget,
.vpms-radiogroup-widget .vpms-5-col .vpms-radiogroup-item-widget,
.vpms-radiogroup-widget .vpms-6-col .vpms-radiogroup-item-widget,
.vpms-radiogroup-widget .vpms-7-col .vpms-radiogroup-item-widget,
.vpms-radiogroup-widget .vpms-8-col .vpms-radiogroup-item-widget,
.vpms-radiogroup-widget .vpms-9-col .vpms-radiogroup-item-widget,
.vpms-radiogroup-widget .vpms-10-col .vpms-radiogroup-item-widget{
	clear:none;
	float:left;
}
.vpms-0-col>.vpms-element, .vpms-0-col>div>.vpms-element, .vpms-radiogroup-widget .vpms-0-col .vpms-radiogroup-item-widget{
	width:auto;
}
.vpms-1-col>.vpms-element, .vpms-1-col>div>.vpms-element, .vpms-radiogroup-widget .vpms-1-col .vpms-radiogroup-item-widget{
	width: 100%;
	/*IE7 width 100% bug*/
	*min-width: 100%;	
}
.vpms-2-col>.vpms-element, .vpms-2-col>div>.vpms-element, .vpms-radiogroup-widget .vpms-2-col .vpms-radiogroup-item-widget{
	width: 50%;
	/*IE7 rounding bug*/
	*width: 49.9%;
}
.vpms-3-col>.vpms-element, .vpms-3-col>div>.vpms-element, .vpms-radiogroup-widget .vpms-3-col .vpms-radiogroup-item-widget{
	width: 33.33%;
	/*IE7 rounding bug*/
	*width: 33.3%;
}
.vpms-4-col>.vpms-element, .vpms-4-col>div>.vpms-element, .vpms-radiogroup-widget .vpms-4-col .vpms-radiogroup-item-widget{
	width: 25%;
	/*IE7 rounding bug*/
	*width: 24.9%;
}
.vpms-5-col>.vpms-element, .vpms-5-col>div>.vpms-element, .vpms-radiogroup-widget .vpms-5-col .vpms-radiogroup-item-widget{
	width: 20%;
	/*IE7 rounding bug*/
	*width: 19.9%;
}
.vpms-6-col>.vpms-element, .vpms-6-col>div>.vpms-element, .vpms-radiogroup-widget .vpms-6-col .vpms-radiogroup-item-widget{
	width: 16.66%;
	/*IE7 rounding bug*/
	*width: 16.6%;
}
.vpms-7-col>.vpms-element, .vpms-7-col>div>.vpms-element, .vpms-radiogroup-widget .vpms-7-col .vpms-radiogroup-item-widget{
	width: 14.28%;
	/*IE7 rounding bug*/
	*width: 14.2%;
}
.vpms-8-col>.vpms-element, .vpms-8-col>div>.vpms-element, .vpms-radiogroup-widget .vpms-8-col .vpms-radiogroup-item-widget{
	width: 12.5%;
	/*IE7 rounding bug*/
	*width: 12.4%;
}
.vpms-9-col>.vpms-element, .vpms-9-col>div>.vpms-element, .vpms-radiogroup-widget .vpms-9-col .vpms-radiogroup-item-widget{
	width: 11.11%;
	/*IE7 rounding bug*/
	*width: 11%;
}
.vpms-10-col>.vpms-element, .vpms-10-col>div>.vpms-element, .vpms-radiogroup-widget .vpms-10-col .vpms-radiogroup-item-widget{
	width: 10%;
	/*IE7 rounding bug*/
	*width: 9.9%;
}
.vpms-2-col>.vpms-span2, .vpms-2-col>div>.vpms-span2{
	width: 100%;
	/*IE7 width 100% bug*/
	*min-width: 100%;		
}
.vpms-3-col>.vpms-span2, .vpms-3-col>div>.vpms-span2{
	width: 66.66%;
	/*IE7 rounding bug*/
	*width: 66.6%;	
}
.vpms-3-col>.vpms-span3, .vpms-3-col>div>.vpms-span3{
	width: 100%;
	/*IE7 width 100% bug*/
	*min-width: 100%;		
}
.vpms-4-col>.vpms-span2, .vpms-4-col>div>.vpms-span2{
	width: 50%;
	/*IE7 rounding bug*/
	*width: 49.8%;	
}
.vpms-4-col>.vpms-span3, .vpms-4-col>div>.vpms-span3{
	width: 75%;
	/*IE7 rounding bug*/
	*width: 74.7%;	
}
.vpms-4-col>.vpms-span4, .vpms-4-col>div>.vpms-span4{
	width: 100%;
	/*IE7 width 100% bug*/
	*min-width: 100%;		
}
.vpms-5-col>.vpms-span2, .vpms-5-col>div>.vpms-span2{
	width: 40%;
	/*IE7 rounding bug*/
	*width: 39.8%;		
}
.vpms-5-col>.vpms-span3, .vpms-5-col>div>.vpms-span3{	
	width: 60%;
	/*IE7 rounding bug*/
	*width: 59.7%;	
}
.vpms-5-col>.vpms-span4, .vpms-5-col>div>.vpms-span4{
	width: 80%;
	/*IE7 rounding bug*/
	*width: 79.6%;	
}
.vpms-5-col>.vpms-span5, .vpms-5-col>div>.vpms-span5{
	width: 100%;
	/*IE7 width 100% bug*/
	*min-width: 100%;		
}
.vpms-6-col>.vpms-span2, .vpms-6-col>div>.vpms-span2{
	width: 33.33%;
	/*IE7 rounding bug*/
	*width: 33.2%;		
}
.vpms-6-col>.vpms-span3, .vpms-6-col>div>.vpms-span3{	
	width: 50%;
	/*IE7 rounding bug*/
	*width: 49.8%;	
}
.vpms-6-col>.vpms-span4, .vpms-6-col>div>.vpms-span4{
	width: 66.66%;
	/*IE7 rounding bug*/
	*width: 66.4%;	
}
.vpms-6-col>.vpms-span5, .vpms-6-col>div>.vpms-span5{
	width: 83.33%;
	/*IE7 rounding bug*/
	*width: 83%;	
}
.vpms-6-col>.vpms-span6, .vpms-6-col>div>.vpms-span6{
	width: 100%;
	/*IE7 width 100% bug*/
	*min-width: 100%;		
}
.vpms-7-col>.vpms-span2, .vpms-7-col>div>.vpms-span2{
	width: 28.56%;
	/*IE7 rounding bug*/
	*width: 28.4%;		
}
.vpms-7-col>.vpms-span3, .vpms-7-col>div>.vpms-span3{	
	width: 42.84%;
	/*IE7 rounding bug*/
	*width: 42.6%;	
}
.vpms-7-col>.vpms-span4, .vpms-7-col>div>.vpms-span4{
	width: 57.12%;
	/*IE7 rounding bug*/
	*width: 56.8%;	
}
.vpms-7-col>.vpms-span5, .vpms-7-col>div>.vpms-span5{
	width: 71.4%;
	/*IE7 rounding bug*/
	*width: 71%;	
}
.vpms-7-col>.vpms-span6, .vpms-7-col>div>.vpms-span6{
	width: 85.68%;
	/*IE7 rounding bug*/
	*width: 85.2%;	
}
.vpms-7-col>.vpms-span7, .vpms-7-col>div>.vpms-span7{
	width: 100%;
	/*IE7 width 100% bug*/
	*min-width: 100%;		
}
.vpms-8-col>.vpms-span2, .vpms-8-col>div>.vpms-span2{
	width: 25%;
	/*IE7 rounding bug*/
	*width: 24.8%;		
}
.vpms-8-col>.vpms-span3, .vpms-8-col>div>.vpms-span3{	
	width: 37.5%;
	/*IE7 rounding bug*/
	*width: 37.2%;	
}
.vpms-8-col>.vpms-span4, .vpms-8-col>div>.vpms-span4{
	width: 50%;
	/*IE7 rounding bug*/
	*width: 49.6%;	
}
.vpms-8-col>.vpms-span5, .vpms-8-col>div>.vpms-span5{
	width: 62.5%;
	/*IE7 rounding bug*/
	*width: 62%;	
}
.vpms-8-col>.vpms-span6, .vpms-8-col>div>.vpms-span6{
	width: 75%;
	/*IE7 rounding bug*/
	*width: 74.4%;	
}
.vpms-8-col>.vpms-span7, .vpms-8-col>div>.vpms-span7{
	width: 87.5%;
	/*IE7 rounding bug*/
	*width: 86.8%;	
}
.vpms-8-col>.vpms-span8, .vpms-8-col>div>.vpms-span8{
	width: 100%;
	/*IE7 width 100% bug*/
	*min-width: 100%;		
}
.vpms-9-col>.vpms-span2, .vpms-9-col>div>.vpms-span2{
	width: 22.22%;
	/*IE7 rounding bug*/
	*width: 22%;		
}
.vpms-9-col>.vpms-span3, .vpms-9-col>div>.vpms-span3{	
	width: 33.33%;
	/*IE7 rounding bug*/
	*width: 33%;	
}
.vpms-9-col>.vpms-span4, .vpms-9-col>div>.vpms-span4{
	width: 44.44%;
	/*IE7 rounding bug*/
	*width: 44%;	
}
.vpms-9-col>.vpms-span5, .vpms-9-col>div>.vpms-span5{
	width: 55.55%;
	/*IE7 rounding bug*/
	*width: 55%;	
}
.vpms-9-col>.vpms-span6, .vpms-9-col>div>.vpms-span6{
	width: 66.66%;
	/*IE7 rounding bug*/
	*width: 66%;	
}
.vpms-9-col>.vpms-span7, .vpms-9-col>div>.vpms-span7{
	width: 77.77%;
	/*IE7 rounding bug*/
	*width: 77%;	
}
.vpms-9-col>.vpms-span8, .vpms-9-col>div>.vpms-span8{
	width: 88.88%;
	/*IE7 rounding bug*/
	*width: 88%;	
}
.vpms-9-col>.vpms-span9, .vpms-9-col>div>.vpms-span9{
	width: 100%;
	/*IE7 width 100% bug*/
	*min-width: 100%;		
}
.vpms-10-col>.vpms-span2, .vpms-10-col>div>.vpms-span2{
	width: 20%;
	/*IE7 rounding bug*/
	*width: 19.8%;		
}
.vpms-10-col>.vpms-span3, .vpms-10-col>div>.vpms-span3{	
	width: 30%;
	/*IE7 rounding bug*/
	*width: 29.7%;	
}
.vpms-10-col>.vpms-span4, .vpms-10-col>div>.vpms-span4{
	width: 40%;
	/*IE7 rounding bug*/
	*width: 39.6%;	
}
.vpms-10-col>.vpms-span5, .vpms-10-col>div>.vpms-span5{
	width: 50%;
	/*IE7 rounding bug*/
	*width: 49.5%;	
}
.vpms-10-col>.vpms-span6, .vpms-10-col>div>.vpms-span6{
	width: 60%;
	/*IE7 rounding bug*/
	*width: 59.4%;	
}
.vpms-10-col>.vpms-span7, .vpms-10-col>div>.vpms-span7{
	width: 70%;
	/*IE7 rounding bug*/
	*width: 69.3%;	
}
.vpms-10-col>.vpms-span8, .vpms-10-col>div>.vpms-span8{
	width: 80%;
	/*IE7 rounding bug*/
	*width: 79.2%;	
}
.vpms-10-col>.vpms-span9, .vpms-10-col>div>.vpms-span9{
	width: 90%;
	/*IE7 rounding bug*/
	*width: 89.1%;	
}
.vpms-10-col>.vpms-span10, .vpms-10-col>div>.vpms-span10{
	width: 100%;
	/*IE7 width 100% bug*/
	*min-width: 100%;		
}
.vpms-single-column .vpms-element, .vpms-single-column .vpms-container,
.vpms-notlabeled {
	width: auto!important;
	min-width: inherit;
	max-width: inherit;	
	float: none;		
}
.vpms-label-widget.vpms-notlabeled{
	float:left;	
}
.vpms-label-widget.vpms-notlabeled .vpms-widget-required-icon{
	float:none;
}
.vpms-label-widget.vpms-notlabeled label{
	display:none;
}
.vpms-widget_with_error_container {	
	margin-left:20px;	
}
.vpms-mvvm-container-mobile .vpms-widget_with_error_container {	
	margin-left:30px;	
}

.vpms-tooltip-error-shifted {
	margin-left: -20px; /* The padding-left value from widget_with_error_container */
}

.vpms-mvvm-container-mobile .vpms-tooltip-error-shifted {
	margin-left: -30px; /* The padding-left value from widget_with_error_container */
}

.vpms-mvvm-container-mobile .vpms-tooltip-error {
	width:25px;
	color:red!important;
}

.vpms-mvvm-container-mobile .vpms-tooltip-error span{
	padding:0!important;
	float:none;
}

.vpms-edit-widget>div, .vpms-combobox-widget>div, .vpms-autocomplete-widget>div,.vpms-checkboxAfterLabel-widget>div,
.vpms-radiogroup-item-widget input, .vpms-checkbox-widget input, .vpms-checkboxAfterLabel-widget input {
	height:1.9em;
}
.vpms-height-auto{
	height:auto;
}
/* - min-height (_height for ie8) fixes empty labels height=0, but does not set fixed height for multiple lines
   - line-height centers text in labels*/
.vpms-label-widget,.vpms-value-widget, .vpms-text-widget, .vpms-checkbox-widget, .vpms-checkboxAfterLabel-widget,
.vpms-radiogroup-item-widget, .vpms-value-widget-value, .vpms-label-widget-label, .vpms-checkbox-widget label, .vpms-file-widget label{
	line-height:1.9em;
	min-height:1.9em;
	_height:1.9em;
}
.vpms-edit-widget input, .vpms-combobox-widget select, .vpms-memo-widget textarea, .vpms-autocomplete-widget input, .vmps-radiogroup-items{
	width: 100%;
	margin:0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/*IE7 bug*/
	*min-width: 100%;
}
/*center input and select*/
.vpms-edit-widget input, .vpms-combobox-widget select, .vpms-memo-widget textarea, .vpms-autocomplete-widget input,
.vpms-mvvm-container-mobile .vpms-tooltip-error-shifted{
	margin-top:0.17em;
}
.vpms-memo-widget textarea{
	margin:0px;
}
/*adding 3px padding for edit to be consistent with selects*/
.vpms-edit-widget input,.vpms-memo-widget textarea{
	padding-left:3px;
}
/*center checkbox and radiogroup*/
.vpms-radiogroup-item-widget input, .vpms-checkbox-widget input, .vpms-checkboxAfterLabel-widget input{
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-top:0px;
	padding-bottom:0px;
	width:1.25em;
	margin-right:0.2em;
}
.vpms-radiogroup-item-widget label, .vpms-label-widget label, .vpms-checkbox-widget label,
.vpms-edit-widget>div, .vpms-combobox-widget>div, .vpms-autocomplete-widget>div,
.vpms-text-widget>div, .vpms-value-widget>div, .vpms-file-widget>div, 
.vpms-memo-widget>div, .vpms-checkboxAfterLabel-widget>div{
	display:block;	
	margin-right : 0.5em;
}
.vpms-radiogroup-item-widget label{
	display:inline-block;
	zoom:1; 
	*display: inline;
	margin-right : 0.8em;
}
.vpms-table-widget div,.vpms-table-widget label{
	margin-right : 0;
} 
.vpms-border-widget-fieldset, .vpms-pages-container, .vpms-treeview-section {
	padding: 0.5em;
	padding-right:0;
}


/* IE7 ONLY! Input elements with width 100% on IE7 have also border 2*2px + padding 2*1px or similar */
.vpms-edit-widget>div, .vpms-combobox-widget>div,.vpms-memo-widget>div, .vpms-autocomplete-widget>div{
	*padding-right:6px;		
}
.vpms-edit-widget input.number, .vpms-value-widget .number, table.vpms-table-widget td.number{
	text-align:right;
}
.vpms-edit-widget.vpms-align-left input, 
.vpms-value-widget.vpms-align-left .vpms-value-widget-value,
.vpms-text-widget.vpms-align-left .vpms-text-widget-text,
.vpms-label-widget.vpms-align-left label,
.vpms-image-widget.vpms-align-left,
.vpms-checkbox-widget.vpms-align-left, .vpms-checkboxAfterLabel-widget.vpms-align-left,
table.vpms-table-widget td.vpms-align-left, table.vpms-table-widget th.vpms-align-left{
	text-align:left;
}
.vpms-edit-widget.vpms-align-right input, 
.vpms-value-widget.vpms-align-right .vpms-value-widget-value,
.vpms-text-widget.vpms-align-right .vpms-text-widget-text,
.vpms-label-widget.vpms-align-right label,
.vpms-image-widget.vpms-align-right,
.vpms-checkbox-widget.vpms-align-right, .vpms-checkboxAfterLabel-widget.vpms-align-right,
table.vpms-table-widget td.vpms-align-right, table.vpms-table-widget th.vpms-align-right{
	text-align:right;
}
.vpms-edit-widget.vpms-align-center input, 
.vpms-value-widget.vpms-align-center .vpms-value-widget-value,
.vpms-text-widget.vpms-align-center .vpms-text-widget-text,
.vpms-label-widget.vpms-align-center label,
.vpms-image-widget.vpms-align-center,
.vpms-checkbox-widget.vpms-align-center, .vpms-checkboxAfterLabel-widget.vpms-align-center,
table.vpms-table-widget td.vpms-align-center, table.vpms-table-widget th.vpms-align-center{
	text-align:center;
}
.vpms-button-bar-left *, .vpms-button-bar-right *, .vpms-button-bar-center *, .vpms-button-widget{
	display:inline-block;
	/*IE7 & 6 does not understand inline-block - hack*/
	zoom:1; 
	*display: inline; 
}
.vpms-button-bar-left *, .vpms-button-bar-right *, .vpms-button-bar-center *{
	_height: 30px;
	*padding-right: 2px;
	*overflow:visible;		
}
.vpms-buttonbar-widget {
	overflow: hidden;
	display:block;
}

.vpms-button-bar-left{
	width:33.33%;
	float:left;
	margin:0;
	text-align:left;
}
.vpms-button-bar-left>div{
	margin-left: 0.3em;		
}
.vpms-button-bar-right{
	width:33.33%;
	float:right;
	margin:0;
	text-align:right;
}
.vpms-button-bar-right>div{
	margin-right: 0.3em;		
}
.vpms-button-bar-center{
	width:33.33%;
	float:left;	
	margin:0;
	text-align:center;
}
.vpms-button-bar-center>div{
	margin-right: 0.3em;		
}
.vpms-clear-float {
	clear:both;
}

.vpms-accordion-caption{
	float:left;
	line-height:16px;
	height:16px;
}

.vpms-mvvm-container-mobile .vpms-accordion-caption{
	line-height:1.6em;
	height:1.6em;
	padding-left:3px;
}

.vpms-remove-button {
	clear: both;
	overflow: visible;
	float: right;
	padding-right: 5px;	
}
.vpms-add-button {
	clear: both;
	overflow: visible;
	display:block;    
	float: left;
	padding: 5px;
}

.vpms-tabs-widget{
	overflow:hidden;
}

ul.vpms-tab-menu {
	/*only with float:left <ul> has height!=0
	overflow: hidden;*/
	display:block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	padding-top:5px;
	padding-left:0.2em;
	clear:both;
}

ul.vpms-tab-menu li {
	float: left;
	display: list-item;
	margin:0 .2em 1px 0;
	border-bottom:0px!important;
	position: relative;
	top: 1px;
	white-space: nowrap;	
}
ul.vpms-tab-menu li.ui-state-active{
	margin-bottom: 0;
	padding-bottom: 1px;
}
.vpms-tab-link-opened-icon{
	float:left;
	display:none;
}
ul.vpms-tab-menu li.ui-state-active .vpms-tab-link-opened-icon{
	display:block;
} 
a.vpms-tab-link {
	float:left;
	padding: .5em .5em;	
	line-height:16px;
	cursor: pointer;	
}
.vpms-mvvm-container-mobile a.vpms-tab-link {
	line-height:1.6em;
}

.vpms-tab-link-text {
	float:left;
}

.vpms-footer{
	margin-top:0.5em;
}

.vpms-footer-part{
	width:33%;
	float:left;
	opacity: .35; 
	filter:Alpha(Opacity=35);
}

/*IE7 50% rounding bug*/
.vpms-powered-by-text{
	width:49%;
	float:left;
	text-align:right;
}
.vpms-powered-by-img {
	width:49%;	
	float:left;
	background-image: url(images/vpms.png);
	background-repeat: no-repeat;
}
.vpms-block-ui-text {
	margin-top:-50px;
}
.vpms-version-info {
	text-align: right;	
	padding-right:0.3em;		
	font-size: 0.8em;
}
.ui-accordion .ui-accordion-content{
	overflow:auto;
	/*overflow:hidden !important;*/
}
ul.vpms-treeview{
	float:left;
	border-left:0px;
	border-top:0px;
	border-bottom:0px;
	border-collapse:collapse;
	margin-right:-1px;
	padding-left:0.5em;
	padding-top:0.5em;
	padding-bottom:0.5em;
}

ul.vpms-treeview a.ui-state-active{
	border-right:0; 
	margin-right:-1px	
}
ul.vpms-treeview li a .vpms-tab-icon{
	border:0px;
	background:none;	
}
ul.vpms-treeview li a{
	line-height:1.4em;	
}
.vpms-treeview-section{
	margin-bottom:0px;	
	border-top:0px;
	border-bottom:0px;
	border-right:0px;
	border-collapse:collapse;
}
.vpms-treeview-container.vpms-suppress-tabs .vpms-treeview-section{
	border:0px;	
} 
ul.ui-treeview li a .vpms-treeview-remove-button,ul.ui-treeview li a .vpms-treeview-add-button{
	float:right;
}
/*only IE7 - bug by float right button*/
*+html .vpms-treeview-remove-button,*+html .vpms-treeview-add-button{
	float:left!important;
}

.vpms-treeview-link-text{
}
.vpms-mvvm-container-mobile .vpms-treeview-link-text{
	line-height:1.6em;
}
.vpms-clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

table.vpms-table-widget{
	border-collapse:collapse;
	width:100%;
}

table.vpms-table-widget td, table.vpms-table-widget th{
	padding: 0.3em;
	vertical-align:top;
}
table.vpms-table-widget th.vpms-table-remove-column{
	width:1%;
	white-space: nowrap;
}
.vpms-pages-remove-button, .vpms-pages-add-button, .vpms-treeview-remove-button, .vpms-treeview-add-button{
	padding-left:0.2em;
	cursor:pointer;
}
.vpms-pages-add-button, .vpms-pages-remove-button, .vpms-treeview-add-button, .vpms-treeview-remove-button{
	color: blue;
	font-size: 1.4em;	
	font-family: "Arial Unicode MS", "Microsoft Sans Serif", "Free Sans",
                 "Gentium Plus", "Gentium Basic", "Gentium", "GentiumAlt", "DejaVu Sans",
                 "DejaVu Serif", "Free Serif", "TITUS Cyberbit Basic",
                 "Bitstream Cyberbit", "Bitstream CyberBase", "Doulos SIL",
                 "Code2000", "Code2001";
}
.vpms-please-wait-dialog .ui-dialog-titlebar-close{
	display:none;
}

.vpms-please-wait-dialog-text{
	text-align:center;
}
.ui-autocomplete{
	text-align:left;
	max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    background:none;
    background-color:white;
}
.vpms-autocomplete-widget input{
	padding-left: 0.25em;
	padding-right:1.5em;
}
.vpms-autocomplete-button{
	position:absolute;
	width:1.25em;
	height:1.24em;
	margin-left:-1.5em;
	margin-top:0.25em;
}
/* IE fix */
:root .vpms-autocomplete-button{
	height:1.15em\9;	
}
/*only IE8 - height rounding bug by selects
.vpms-element{
	font-size: 1.01em\9;
	*font-size: 1em;
}
*/
td[role="gridcell"].ui-state-error{
	border:none;
}
.ui-tooltip{
	max-width:inherit;
}
.vpms-combobox-widget-selected-option{
   background-color:navy;
}
.vpms-file-button{
	float:right;
	margin-left:0.2em;
}
.vpms-file-widget label, .vpms-file-widget iframe{
	float:left;
}
.vpms-label-widget.ui-state-error{
	border:none;
}
.vpms-accordion .vpms-accordion-element-header[relevant="false"], .vpms-accordion .vpms-accordion-element[relevant="false"]{
	display:none!important;
}
.vpms-table-navigation{
	text-align:center;
	margin-bottom: 3px;
}
input[disabled="disabled"], select[disabled="disabled"], textarea[disabled="disabled"] {
	background-color:#F0F0F0\9;
}
.vpms-slider-tabs-nav{
	position:absolute;
	top:0;
	width:20px;
	text-align:center;
	font-size:1.5em;
	cursor:pointer;
}
.vpms-slider-tabs-nav-left{
	left:0;
}
.vpms-slider-tabs-nav-right{
	right:0;
}
fieldset.vpms-border-widget-fieldset{
	min-width: auto;
}
@-moz-document url-prefix() {
	fieldset.vpms-border-widget-fieldset{
		display: table-cell;
	}
}
.vpms-table-widget>div{
	overflow:auto;
}