.vpms-border-widget-caption{
	font-weight: normal;
}

.vpms-border-widget.bold>.vpms-border-widget-fieldset>.vpms-border-widget-caption, .vpms-border-widget.bold-caption>.vpms-border-widget-fieldset>.vpms-border-widget-caption,
.vpms-label-widget.bold label, .vpms-label-widget.bold-caption label, .vpms-checkbox-widget.bold-caption label,
.vpms-memo-widget.bold textarea, .vpms-edit-widget.bold input, .vpms-combobox-widget.bold select, .vpms-value-widget.bold .vpms-value-widget-value, .vpms-text-widget.bold .vpms-text-widget-text, .vpms-checkbox-widget.bold, 
.vpms-memo-widget.bold-widget textarea, .vpms-edit-widget.bold-widget input, .vpms-combobox-widget.bold-widget select, .vpms-value-widget.bold-widget .vpms-value-widget-value,.vpms-text-widget.bold-widget .vpms-text-widget-text, .vpms-radiogroup-widget.bold-widget {
	font-weight: bold;	
}

.vpms-border-widget.italic>.vpms-border-widget-fieldset>.vpms-border-widget-caption, .vpms-border-widget.italic-caption>.vpms-border-widget-fieldset>.vpms-border-widget-caption,
.vpms-label-widget.italic label, .vpms-label-widget.italic-caption label, .vpms-checkbox-widget.italic-caption label,
.vpms-memo-widget.italic textarea, .vpms-edit-widget.italic input, .vpms-combobox-widget.italic select, .vpms-value-widget.italic .vpms-value-widget-value, .vpms-text-widget.italic .vpms-text-widget-text, .vpms-checkbox-widget.italic, 
.vpms-memo-widget.italic-widget textarea, .vpms-edit-widget.italic-widget input, .vpms-combobox-widget.italic-widget select, .vpms-value-widget.italic-widget .vpms-value-widget-value,.vpms-text-widget.italic-widget .vpms-text-widget-text, .vpms-radiogroup-widget.italic-widget {
	font-style: italic;
}


.vpms-border-widget.big>.vpms-border-widget-fieldset>.vpms-border-widget-caption, .vpms-border-widget.big-caption>.vpms-border-widget-fieldset>.vpms-border-widget-caption,
.vpms-label-widget.big label, .vpms-label-widget.big-caption label, .vpms-checkbox-widget.big-caption label,
.vpms-memo-widget.big textarea, .vpms-edit-widget.big input, .vpms-combobox-widget.big select, .vpms-value-widget.big .vpms-value-widget-value, .vpms-text-widget.big .vpms-text-widget-text,.vpms-checkbox-widget.big, 
.vpms-memo-widget.big-widget textarea, .vpms-edit-widget.big-widget input, .vpms-combobox-widget.big-widget select, .vpms-value-widget.big-widget .vpms-value-widget-value,.vpms-text-widget.big-widget .vpms-text-widget-text, .vpms-radiogroup-widget.big-widget {
	font-size: 14pt;
}

.vpms-border-widget.small>.vpms-border-widget-fieldset>.vpms-border-widget-caption, .vpms-border-widget.small-caption>.vpms-border-widget-fieldset>.vpms-border-widget-caption,
.vpms-label-widget.small label, .vpms-label-widget.small-caption label, .vpms-checkbox-widget.small-caption label,
.vpms-memo-widget.small textarea, .vpms-edit-widget.small input, .vpms-combobox-widget.small select, .vpms-value-widget.small .vpms-value-widget-value, .vpms-text-widget.small .vpms-text-widget-text,.vpms-checkbox-widget.small, 
.vpms-memo-widget.small-widget textarea, .vpms-edit-widget.small-widget input, .vpms-combobox-widget.small-widget select, .vpms-value-widget.small-widget .vpms-value-widget-value,.vpms-text-widget.small-widget .vpms-text-widget-text, .vpms-radiogroup-widget.small-widget {
	font-size: 8pt;
}

.vpms-border-widget.header>.vpms-border-widget-fieldset>.vpms-border-widget-caption, .vpms-border-widget.header-caption>.vpms-border-widget-fieldset>.vpms-border-widget-caption,
.vpms-label-widget.header label, .vpms-label-widget.header-caption label, .vpms-checkbox-widget.header-caption label,
.vpms-memo-widget.header textarea, .vpms-edit-widget.header input, .vpms-combobox-widget.header select, .vpms-value-widget.header .vpms-value-widget-value, .vpms-text-widget.header .vpms-text-widget-text,.vpms-checkbox-widget.header, 
.vpms-memo-widget.header-widget textarea, .vpms-edit-widget.header-widget input, .vpms-combobox-widget.header-widget select, .vpms-value-widget.header-widget .vpms-value-widget-value,.vpms-text-widget.header-widget .vpms-text-widget-text, .vpms-radiogroup-widget.header-widget {
	font-size: 14pt;
	font-weight: bold;
}

.vpms-border-widget.result>.vpms-border-widget-fieldset>.vpms-border-widget-caption, .vpms-border-widget.result-caption>.vpms-border-widget-fieldset>.vpms-border-widget-caption,
.vpms-label-widget.result label, .vpms-label-widget.result-caption label, .vpms-checkbox-widget.result-caption label{
	font-weight: bold;
}
.vpms-memo-widget.result textarea, .vpms-edit-widget.result input, .vpms-combobox-widget.result select, .vpms-value-widget.result .vpms-value-widget-value, .vpms-text-widget.result .vpms-text-widget-text,.vpms-checkbox-widget.result, 
.vpms-memo-widget.result-widget textarea, .vpms-edit-widget.result-widget input, .vpms-combobox-widget.result-widget select, .vpms-value-widget.result-widget .vpms-value-widget-value,.vpms-text-widget.result-widget .vpms-text-widget-text, .vpms-radiogroup-widget.result-widget {
	font-weight: bold;
	background-color: #D0D0D0;
}

.generationError {
	font-weight: bold;
	color: rgb(255,0,0);
}

/*		Slider widget		*/
.vpms-single-column .vpms-sliderTypeId-widget{
	width: auto!important;
	float: none;	
	clear:both;
}

.vpms-sliderTypeId-widget {
	width: 50%;
	float: left;
	overflow: hidden;
	/*IE7 50% rounding bug*/	
	*width: 49.9%;
}

.vpms-sliderTypeId-widget > div{
	display: block;
	margin-right: 0.5em;
	height: 1.9em;
	line-height: 1.9em;
}

.vpms-slider-jquery-widget  {
	width: 100%;
	float: left;
	overflow: hidden;
}

.ui-slider.ui-slider-horizontal {
	width: 50%;
	float: left;
	height: 0.56em;
	top: 0.21em; 
	min-width: 1.75em;
	margin-left: 0.5em; 
	margin-right: 0.19em;
}

.vpms-slider-jquery-widget .ui-slider-handle {
	height: 1.3em; 
	top: -0.2em;
}

.vpms-slider-jquery-widget .range{
	color: blue;
	font-weight: bold;
	float: left;
	margin-left: 0.5em; 
	margin-right: 0.5em; 
	width: 10%;
	min-width: 2.7em; 
}

.ui-widget input.ui-slider-value-input {
	background-color: #C6F0BB;
	width: 2.7em; 
	float: left;
	margin-left: 0.19em; 
	margin-right: 0.19em; 
	margin-bottom: 0em;
}